aiohttp==2.1.0
aiomysql==0.0.9
async-timeout==1.2.1
beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.3
click==6.7
cycler==0.10.0
Flask==0.12.2
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
matplotlib==2.0.2
multidict==2.1.6
numpy==1.12.1
olefile==0.44
Pillow==4.1.1
PyMySQL==0.7.11
pyparsing==2.2.0
pyreadline==2.1
PySocks==1.6.7
python-dateutil==2.6.0
pytz==2017.2
requests==2.17.3
selenium==3.4.2
six==1.10.0
urllib3==1.26.5
virtualenv==15.1.0
Werkzeug==0.12.2
yarl==0.10.2
